@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.formulario {
    width: 30%;
    margin: auto;
    animation: fadeIn 3s cubic-bezier(1, 0.08, 0, 1.11); 
    border-radius: 10px;

}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario textarea,
.formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
}

.preferencias-contacto {
    margin-bottom: 20px;
}

.opciones-contacto {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.opciones-contacto input[type="checkbox"] {
    margin-right: 10px;
}

.opciones-contacto label {
    margin-right: 10px;
    margin-bottom: 0;
}

.formulario .botones {
    display: flex;
    justify-content: flex-start;
}

.formulario .botones input[type="reset"],
.formulario .botones input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario .botones input[type="reset"]:hover,
.formulario .botones input[type="submit"]:hover {
    background-color: #0000FF;
}

@media only screen and (max-width: 1023px) {
    .formulario {
        width: 80%;
        margin: 7% auto;
    }

    .formulario .botones input[type="reset"],
    .formulario .botones input[type="submit"] {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .formulario {
        width: 95%;
        margin: 5% auto;
    }

    .formulario input[type="text"],
    .formulario input[type="email"],
    .formulario input[type="tel"],
    .formulario textarea,
    .formulario select {
        width: calc(100% - 20px);
    }

    .formulario .botones input[type="reset"],
    .formulario .botones input[type="submit"] {
        margin-right: 5px;
    }
}
