body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
}

.banner-text {
    color: #0f0f0f;
    text-align: center;
}

.banner-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 16px;
    line-height: 1.6;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.marcas {
    padding: 20px;
}

.marcas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.marca {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.marca img {
    max-width: 100%;
    height: auto;

}
.marca:hover {
    transform: rotateY(360deg); /* Rota 360 grados horizontalmente al pasar el mouse */
    transition: transform 0.9s ease;
}
.productos {
    padding: 20px;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.producto {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: 200px;
    object-fit: scale-down;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.producto p {
    font-size: 14px;
    line-height: 1.6;
}

.producto img:hover {
  transform: scale(1.2);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
}

.tyc {
    color: none;
    background-color: transparent;
    text-decoration: none;
}

/* Media queries para tablet */
@media only screen and (max-width: 1023px) {
    .marcas-grid,
    .productos-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

/* Media queries para celular */
@media only screen and (max-width: 767px) {
    header {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    nav ul li {
        margin-right: 10px;
    }

    .banner-text h2 {
        font-size: 24px;
    }

    .banner-text p {
        font-size: 14px;
    }

    .marcas-grid,
    .productos-grid {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 10px;
    }

    .marca {
        padding: 5px;
    }

    .marca img {
        max-width: 80%;
    }

    .producto {
        padding: 10px;
    }

    .producto img {
        height: 150px;
        margin-bottom: 5px;
    }

    footer {
        padding: 10px;
    }
}
