.pokemon-section {
    text-align: center;
    padding: 20px 0;
}

.pokemon-grid img,
.watch-image {
    width: 500px;
    height: auto;
}

.iframe-section {
    text-align: center;
    margin-top: 50px;
}
footer {
    background-color: #faf606;
    color: #053efa;
    padding: 20px;
    text-align: center;
}
